<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des sachets</title>
</head>
<body>
<h1>Liste des sachets</h1>
<table>
    <thead>
    <tr>
        <th>Identifiant</th>
        <th>Poids (g)</th>
        <th>Prix (€)</th>
        <th>Type de Graine</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sachet : ${sachets}">
        <td th:text="${sachet.getId()}">Identifiant</td>
        <td th:text="${sachet.getPoidsEnGrammes()}">Poids</td>
        <td th:text="${sachet.getPrixEnEuros()}">Prix</td>
        <td th:text="${sachet.getTypeDeGraine.getNom()}">Type de Graine</td>
        <td>
            <form th:action="@{/deleteSachet}" method="post">
                <input type="hidden" name="sachetId" th:value="${sachet.getId()}">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button id="showFormBtn" onclick="showForm()">Ajouter un sachet</button>

<div id="sachetForm" style="display: none;">
    <form th:action="@{/insertSachet}" th:object="${sachetDTO}" method="post">
        <label for="poidsEnGrammes">Poids en grammes:</label>
        <input type="number" id="poidsEnGrammes" name="poidsEnGrammes" required>
        <br>
        <label for="prixEnEuros">Prix en euros:</label>
        <input type="number" id="prixEnEuros" name="prixEnEuros" step="0.01" required>
        <br>
        <label for="typeDeGraine">Type de graine:</label>
        <select id="typeDeGraine" name="idTypeDeGraine" required>
            <option th:each="typeDeGraine : ${typeDeGraines}"
                    th:value="${typeDeGraine.getId()}"
                    th:text="${typeDeGraine.getNom()}">
            </option>
        </select>
        <button type="submit">Valider</button>
    </form>
</div>

<script th:inline="javascript">
    function showForm() {
        var formDiv = document.getElementById("sachetForm");
        var showFormBtn = document.getElementById("showFormBtn");

        if (formDiv.style.display === "none") {
            formDiv.style.display = "block";
            showFormBtn.textContent = "Annuler";
        } else {
            formDiv.style.display = "none";
            showFormBtn.textContent = "Ajouter un sachet";
        }
    }
</script>
</body>
</html>
